#nav{
    background-color: olive;
    font-family: monospace;
    height:50px;

    color:aliceblue;
    margin-bottom:0px;
    padding:0%;
    border:2px solid black;
    text-align: center;

    


}